body {
    font-family: 'Noto Sans JP', sans-serif;
    max-width: 100%;
}

/*hr--------------------------------*/
#a1 {
    width: 100%;
    size: 1px;
}

#z1 {
    width: 100%;
    size: 1px;
    margin-bottom: 5%;
}
/*----------------------------------*/

/*title-----------------------------*/
.titlebox {
    width: 80%;
    height: 60px;
    margin-left: 10%;
    margin-bottom: 4%;
}

#title {
    font-size: 60px;
    margin-left: 20%;
}
/*----------------------------------*/

/*box1------------------------------*/
.box1 {
    width: 40%;
    height: 200px;
    background-color: #DB604E;
    margin-left: 10%;
    margin-top: 0;
    margin-bottom: 0;
    float: left;
    position: relative;
}

#bt1 {
    width: 100%;
    height: 100%;
    background-color: #DB604E;
    outline: 0;
    border: none;
}

#label1 {
    position: absolute;
    top: 30%;
    left: 35%;
    font-size: 50px;
    color: white;
    
}
/*--------------------------------*/

/*box2-------------------------------*/
.box2 {
    width: 40%;
    height: 200px;
    background-color: #57AFD6;
    margin-top: 0;
    margin-bottom: 0;
    float: left;
    position: relative;
}

#bt2 {
    width: 100%;
    height: 100%;
    background-color: #57AFD6;
    outline: 0;
    border: none;
}

#label2 {
    position: absolute;
    top: 30%;
    left: 35%;
    font-size: 50px;
    color: white;
}
/*---------------------------*/

/*box3----------------------------*/
.box3 {
    width: 40%;
    height: 200px;
    background-color: #57AFD6;
    margin-left: 10%;
    margin-top: 0;
    margin-bottom: 0;
    float: left;
    position: relative;
}

#bt3 {
    width: 100%;
    height: 100%;
    background-color: #57AFD6;
    outline: 0;
    border: none;
}

#label3 {
    position: absolute;
    top: 30%;
    left: 35%;
    font-size: 50px;
    color: white;
}
/*-----------------------------------*/

/*box4-------------------------------*/
.box4 {
    width: 40%;
    height: 200px;
    background-color: #DB604E;
    margin-top: 0;
    margin-bottom: 0;
    float: left;
    position: relative;
}

#bt4 {
    width: 100%;
    height: 100%;
    background-color: #DB604E;
    outline: 0;
    border: none;
}

#label4 {
    position: absolute;
    top: 30%;
    left: 35%;
    font-size: 50px;
    color: white;
}
/*-----------------------------------*/

/*box5-------------------------------*/
.box5 {
    width: 40%;
    height: 200px;
    background-color: #DB604E;
    margin-left: 10%;
    margin-top: 0;
    margin-bottom: 0;
    float: left;
    position: relative;
}

#bt5 {
    width: 100%;
    height: 100%;
    background-color: #DB604E;
    outline: 0;
    border: none;
}

#label5 {
    position: absolute;
    top: 30%;
    left: 35%;
    font-size: 50px;
    color: white;
}
/*-----------------------------------*/

/*box6-------------------------------*/
.box6 {
    width: 40%;
    height: 200px;
    background-color: #57AFD6;
    margin-top: 0;
    margin-bottom: 0;
    float: left;
    position: relative;
}

#bt6 {
    width: 100%;
    height: 100%;
    background-color: #57AFD6;
    outline: 0;
    border: none;
}

#label6 {
    position: absolute;
    top: 30%;
    left: 35%;
    font-size: 50px;
    color: white;
}
/*-----------------------------------*/

/*box7-------------------------------*/
.box7 {
    width: 40%;
    height: 200px;
    background-color: #57AFD6;
    margin-left: 10%;
    margin-top: 0;
    margin-bottom: 0;
    float: left;
    position: relative;
}

#bt7 {
    width: 100%;
    height: 100%;
    background-color: #57AFD6;
    outline: 0;
    border: none;
}

#label7 {
    position: absolute;
    top: 30%;
    left: 35%;
    font-size: 50px;
    color: white;
}
/*-----------------------------------*/

/*box8-------------------------------*/
.box8 {
    width: 40%;
    height: 200px;
    background-color: #DB604E;
    margin-top: 0;
    margin-bottom: 0;
    float: left;
    position: relative;
}

#bt8 {
    width: 100%;
    height: 100%;
    background-color: #DB604E;
    outline: 0;
    border: none;
}

#label8 {
    position: absolute;
    top: 30%;
    left: 35%;
    font-size: 50px;
    color: white;
}
/*-----------------------------------*/

/*box9-------------------------------*/
.box9 {
    width: 40%;
    height: 200px;
    background-color: #DB604E;
    margin-left: 10%;
    margin-top: 0;
    margin-bottom: 10%;
    float: left;
    position: relative;
}

#bt9 {
    width: 100%;
    height: 100%;
    background-color: #DB604E;
    outline: 0;
    border: none;
}

#label9 {
    position: absolute;
    top: 30%;
    left: 35%;
    font-size: 50px;
    color: white;
}
/*-----------------------------------*/

/*box10------------------------------*/
.box10 {
    width: 40%;
    height: 200px;
    background-color: #BDB7AE;
    margin-top: 0;
    margin-bottom: 10%;
    float: left;
    position: relative;
}

#bt10 {
    width: 100%;
    height: 100%;
    background-color: #BDB7AE;
    outline: 0;
    border: none;
}

#label10 {
    position: absolute;
    top: 30%;
    left: 35%;
    font-size: 50px;
    color: white;
}
/*-----------------------------------*/
