body {
    font-family: 'Noto Sans JP', sans-serif;
    max-width: 100%;
    background-color: #000000;
}

input[type="button"] {
    -webkit-appearance: none;
    border-radius: 0;
}

/*title-----------------------------*/
.titlebox {
    width: 80%;
    height: 60px;
    margin-left: 10%;
    margin-bottom: 5%;
}

#title {
    font-size: 50px;
    text-align: center;
    color: white;
}
/*----------------------------------*/

/*box1------------------------------*/
.box1 {
    width: 35%;
    height: 200px;
    margin-left: 12.5%;
    margin-right: 2.5%;
    margin-top: 0;
    margin-bottom: 15px;
    float: left;
}

#bt1 {
    width: 100%;
    height: 100%;
    background-color: #000000;
    outline: 0;
    border: solid 2px #FFFFFF;
    font-size: 40px;
    color: white;
    border-radius: 100px;
}

#bt1:hover {
    width: 100%;
    height: 100%;
    background-color: #57AFD6;
    outline: 0;
    border: none;
    font-size: 40px;
    color: white;
    border-radius: 100px;
}
/*--------------------------------*/

/*box2-------------------------------*/
.box2 {
    width: 35%;
    height: 200px;
    margin-top: 0;
    margin-left: 2.5%;
    margin-bottom: 15px;
    float: left;
}

#bt2 {
    width: 100%;
    height: 100%;
    outline: 0;
    border:solid 2px #FFFFFF;
    background-color: #000000;
    font-size: 40px;
    color: white;
    border-radius: 100px;
}

#bt2:hover {
    width: 100%;
    height: 100%;
    background-color: #57AFD6;
    outline: 0;
    border: none;
    font-size: 40px;
    color: white;
    border-radius: 100px;
}
/*---------------------------*/

/*box3----------------------------*/
.box3 {
    width: 35%;
    height: 200px;
    margin-left: 12.5%;
    margin-right: 2.5%;
    margin-top: 0;
    margin-bottom: 15px;
    float: left;
}

#bt3 {
    width: 100%;
    height: 100%;
    background-color: #000000;
    outline: 0;
    border: solid 2px #FFFFFF;
    font-size: 40px;
    color: white;
    border-radius: 100px;
}

#bt3:hover {
    width: 100%;
    height: 100%;
    background-color: #57AFD6;
    outline: 0;
    border: none;
    font-size: 40px;
    color: white;
    border-radius: 100px;
}
/*-----------------------------------*/

/*box4-------------------------------*/
.box4 {
    width: 35%;
    height: 200px;
    margin-left: 2.5%;
    margin-top: 0;
    margin-bottom: 15px;
    float: left;
}

#bt4 {
    width: 100%;
    height: 100%;
    background-color: #000000;
    outline: 0;
    border: solid 2px #FFFFFF;
    font-size: 40px;
    color: white;
    border-radius: 100px;
}

#bt4:hover {
    width: 100%;
    height: 100%;
    background-color: #57AFD6;
    outline: 0;
    border: none;
    font-size: 40px;
    color: white;
    border-radius: 100px;
}
/*-----------------------------------*/

/*box5-------------------------------*/
.box5 {
    width: 35%;
    height: 200px;
    margin-left: 12.5%;
    margin-right: 2.5%;
    margin-top: 0;
    margin-bottom: 15px;
    float: left;
}

#bt5 {
    width: 100%;
    height: 100%;
    background-color: #000000;
    outline: 0;
    border: solid 2px #FFFFFF;
    font-size: 40px;
    color: white;
    border-radius: 100px;
}

#bt5:hover {
    width: 100%;
    height: 100%;
    background-color: #57AFD6;
    outline: 0;
    border: none;
    font-size: 40px;
    color: white;
    border-radius: 100px;
}
/*-----------------------------------*/

/*box6-------------------------------*/
.box6 {
    width: 35%;
    height: 200px;
    margin-left: 2.5%;
    margin-top: 0;
    margin-bottom: 15px;
    float: left;
}

#bt6 {
    width: 100%;
    height: 100%;
    background-color: #000000;
    outline: 0;
    border: solid 2px #FFFFFF;
    font-size: 40px;
    color: white;
    border-radius: 100px;
}

#bt6:hover {
    width: 100%;
    height: 100%;
    background-color: #57AFD6;
    outline: 0;
    border: none;
    font-size: 40px;
    color: white;
    border-radius: 100px;
}
/*-----------------------------------*/

/*box7-------------------------------*/
.box7 {
    width: 35%;
    height: 200px;
    margin-left: 12.5%;
    margin-right: 2.5%;
    margin-top: 0;
    margin-bottom: 15px;
    float: left;
}

#bt7 {
    width: 100%;
    height: 100%;
    background-color: #000000;
    outline: 0;
    border: solid 2px #FFFFFF;
    font-size: 40px;
    color: white;
    border-radius: 100px;
}

#bt7:hover {
    width: 100%;
    height: 100%;
    background-color: #57AFD6;
    outline: 0;
    border: none;
    font-size: 40px;
    color: white;
    border-radius: 100px;
}
/*-----------------------------------*/

/*box8-------------------------------*/
.box8 {
    width: 35%;
    height: 200px;
    margin-left: 2.5%;
    margin-top: 0;
    margin-bottom: 15px;
    float: left;
}

#bt8 {
    width: 100%;
    height: 100%;
    background-color: #000000;
    outline: 0;
    border: solid 2px #FFFFFF;
    font-size: 40px;
    color: white;
    border-radius: 100px;
}

#bt8:hover {
    width: 100%;
    height: 100%;
    background-color: #57AFD6;
    outline: 0;
    border: none;
    font-size: 40px;
    color: white;
    border-radius: 100px;
}
/*-----------------------------------*/

/*box9-------------------------------*/
.box9 {
    width: 35%;
    height: 200px;
    margin-left: 12.5%;
    margin-right: 2.5%;
    margin-top: 0;
    margin-bottom: 15px;
    float: left;
}

#bt9 {
    width: 100%;
    height: 100%;
    background-color: #000000;
    outline: 0;
    border: solid 2px #FFFFFF;
    font-size: 40px;
    color: white;
    border-radius: 100px;
}

#bt9:hover {
    width: 100%;
    height: 100%;
    background-color: #57AFD6;
    outline: 0;
    border: none;
    font-size: 40px;
    color: white;
    border-radius: 100px;
}
/*-----------------------------------*/

/*box10------------------------------*/
.box10 {
    width: 35%;
    height: 200px;
    margin-left: 2.5%;
    margin-top: 0;
    margin-bottom: 15px;
    float: left;
}

#bt10 {
    width: 100%;
    height: 100%;
    background-color: #000000;
    outline: 0;
    border: solid 2px #FFFFFF;
    font-size: 40px;
    color: white;
    border-radius: 100px;
}

#bt10:hover {
    width: 100%;
    height: 100%;
    background-color: #6C655B;
    outline: 0;
    border: none;
    font-size: 40px;
    color: white;
    border-radius: 100px;
}
/*-----------------------------------*/

/*box11------------------------------*/
.box11 {
    width: 75%;
    height: 200px;
    margin-top: 0;
    margin-left: 12.5%;
    margin-bottom: 0;
    float: left;
}

#bt11 {
    width: 100%;
    height: 100%;
    background-color: #000000;
    outline: 0;
    border: solid 2px #FFFFFF;
    font-size: 40px;
    color: white;
    border-radius: 100px;
}

#bt11:hover {
    width: 100%;
    height: 100%;
    background-color: #37AA3E;
    outline: 0;
    border: none;
    font-size: 40px;
    color: white;
    border-radius: 100px;
}
/*-----------------------------------*/

/*copy-------------------------------*/
.copy {
    width: 100%;
    text-align: center;
    float: left;
    color: #C3B7A7;
}
/*-----------------------------------*/
